body {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0;
}

main {
    border: 5px solid black;
    border-radius: 5%;
    width: 50% auto;
    height: 55% auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

section {
    margin-top: 20px;
}

button {
    height: 26px;
    width: 143px;
    margin-top: 10px;
    align-items: center;
}

#howw {
    width: 370px;
    height: 70px;
}
  
input {
    margin-top: 5px;
    height: 25px;
    width: 270px;
}

/* untuk menghilangkan spin button */
#answer::-webkit-outer-spin-button,
#answer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
