body {
    background-color: #66A5AD;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.main-1{
    background-color: #C4DFE6;
    border: 5px solid black;
    border-radius: 5%;
    width: 50% auto;
    height: 55% auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-left: 20px;
}

.main-2 {
    background-color: #C4DFE6;
    border: 5px solid black;
    border-radius: 5%;
    width: 50% auto;
    height: 55% auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
}

section {
    margin-top: 20px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: white;
    height: 25px;
    width: 162px;
    margin-top: 10px;
    align-items: center;
}


button:hover {
    background-color: cadetblue;
}

.Rumus {
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 55px;
    padding-left: 25px;
}

input {
    margin-top: 5px;
    height: 25px;
    width: 270px;
}

/* untuk menghilangkan spin button */
#answer::-webkit-outer-spin-button,
#answer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
