body {
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.main-1{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,24,5,1) 0%, rgba(16,10,70,1) 83%);
    box-shadow: 5px 5px 7px cyan;
    border-radius: 5%;
    width: 22% auto;
    height: 40% auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-left: 20px;
}

section {
    margin-top: 20px;
}

h1, h3 {
    margin: 0;
    color: azure;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-family: inherit;
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 45px ;
    width: 135px;
    margin-top: 20px;
    align-items: center;
    transition: 0.5s;
}


button:hover {
    cursor: pointer;
    color: white;
    background-color: darkblue;
    width: 140px;
    height: 50px ;
}

textarea {
    background-color: white;
    resize: none;
    margin-top: 5px;
    width: 300px;
    height: 40px;
    font-size: 20px;
}

input {
    margin-top: 5px;
    height: 25px;
    width: 270px;
}

/* untuk menghilangkan spin button */
#answer::-webkit-outer-spin-button,
#answer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
